@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bg-dark text-white min-vh-100 d-flex align-items-center justify-content-center">
    <h1 class="display-4">Bienvenido al sistema de Cuentas x Cobrar</h1>
</div>
